.navButton {
    color: white;
    cursor: pointer;
    margin: 30;
    background: none;
    border: none;
    size: 10;
    height: 100%;
    font-size: small;
}
.disabled {
    /* opacity: 0.7; */
    color: aqua;
    border-bottom: 1px groove aqua;
}
.navButton:hover {
    opacity: 0.8;
    background-color: black;
}
.block {
    display: inline-block;
}
.timelineItem{
    min-height: 75px;
}
.header{
    font-family: Lucida Console, Courier New, monospace;
}
@keyframes changeOpacity {
    from{
        opacityL: 1;
    }
    to{
        opacity: 0.3;
    }
}
.opacityChange:hover{
    animation-duration: 1s;
    animation-name: changeOpacity;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes borderCircle {
    from {
        border-bottom: 1px groove rgb(5, 194, 252)
    }
    to {
        border-bottom: 0.5px groove rgb(113, 214, 245)
    }
}
.editButton {
    cursor: pointer;
}
.editButton:hover{
    animation: 1s borderCircle infinite alternate-reverse;
}